flows.json
[{"id":"c822ec0e8412930a","type":"tab","label":"test","disabled":false,"info":"","env":[]},{"id":"a777d7d0a5bdd91a","type":"tab","label":"iridium","disabled":false,"info":"","env":[]},{"id":"4828bd45.bc03e4","type":"tab","label":"Buitenlampen","disabled":false,"info":""},{"id":"17a4be46.73c692","type":"tab","label":"Lampen","disabled":false,"info":""},{"id":"3bd69bb8a705f8b6","type":"tab","label":"HA ready?","disabled":false,"info":"","env":[]},{"id":"6d08d5ab.a8aa3c","type":"tab","label":"WTW","disabled":false,"info":""},{"id":"7bc08803.7357c8","type":"tab","label":"verwarming","disabled":false,"info":""},{"id":"7dd8150f1db5e027","type":"tab","label":"Alarm","disabled":false,"info":"","env":[]},{"id":"b67404283d4d30e1","type":"subflow","name":"single/double/tripple/quad clicker","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"8d29a72cd1edf467"}]}],"out":[{"x":600,"y":180,"wires":[{"id":"2340827381a46894","port":0}]},{"x":600,"y":220,"wires":[{"id":"2340827381a46894","port":1}]},{"x":600,"y":260,"wires":[{"id":"2340827381a46894","port":2}]},{"x":600,"y":300,"wires":[{"id":"2340827381a46894","port":3}]}],"env":[],"meta":{"module":"1-2-3-4_clicker","type":"clicker","version":"0.1.0","author":"paul van maanen","desc":"count the pressses of a (esphome) button pause max 1 second","keywords":"node-red esphome 1 2 3 4 pres presses single double tripple quadrouple multiple","license":"GPL-3.0"},"color":"#FF50d0","status":{"x":600,"y":60,"wires":[{"id":"4c2a9174627414b8","port":0}]}},{"id":"93f6b8805f5cbea5","type":"subflow","name":"pid controller","info":"# Lampen\n### ftp van maanen febr 2013","category":"","in":[{"x":40,"y":20,"wires":[{"id":"cd8580c17ae0ea86"}]}],"out":[{"x":860,"y":80,"wires":[{"id":"7a2e473b85918ab9","port":0}]},{"x":380,"y":20,"wires":[{"id":"76d7bebf30d836ef","port":0}]},{"x":380,"y":140,"wires":[{"id":"4643cbb2f58c5991","port":0}]}],"env":[],"meta":{"version":"0.0.1","author":"ftp van maanen","license":"GPL-3.0"},"color":"#00f000","status":{"x":720,"y":160,"wires":[{"id":"1754f5af01831240","port":0}]}},{"id":"16611505b5edec06","type":"subflow","name":"Timer & Iluminance Buienradar","info":"","category":"","in":[{"x":20,"y":100,"wires":[]}],"out":[{"x":820,"y":140,"wires":[]},{"x":820,"y":200,"wires":[]},{"x":490,"y":220,"wires":[]}],"env":[],"meta":{},"color":"#00FFFF","inputLabels":["timer en buienradar"],"outputLabels":["lights on","lights off","iluminance","debug 1","debug 2"]},{"id":"75c86075bd20a656","type":"subflow","name":"Lampen controller","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"4d0bc071202bf549"}]}],"out":[{"x":780,"y":60,"wires":[{"id":"4994efb31a95e8cf","port":0}]},{"x":780,"y":120,"wires":[{"id":"4994efb31a95e8cf","port":1}]}],"env":[],"meta":{},"color":"#FFFF00","status":{"x":560,"y":60,"wires":[{"id":"68a53917c64a24cb","port":0}]}},{"id":"77fc5a792c4090e4","type":"subflow","name":"Aan/Uit filter","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"745337d4d75e31af"}]}],"out":[{"x":500,"y":60,"wires":[{"id":"a604e1a98061677c","port":0}]},{"x":500,"y":120,"wires":[{"id":"a604e1a98061677c","port":1}]}],"env":[],"meta":{},"color":"#FFFF00"},{"id":"397a7d7f21216fb1","type":"subflow","name":"wtw sensoren","info":"","category":"","in":[],"out":[{"x":1160,"y":140,"wires":[{"id":"8fdd504311e11483","port":0}]}],"env":[],"meta":{"module":"wtw sensoren"},"color":"#00f000"},{"id":"f90550195635f72c","type":"junction","z":"6d08d5ab.a8aa3c","x":840,"y":420,"wires":[["34c54de6b62aeff4"]]},{"id":"4d0bc071202bf549","type":"junction","z":"75c86075bd20a656","x":240,"y":100,"wires":[["f25eee46dbad1df4"]]},{"id":"afcb343260e6afe6","type":"junction","z":"a777d7d0a5bdd91a","x":320,"y":160,"wires":[["0f6e5d50144f408f","57efec9f50ab766e"]]},{"id":"4c9cee263d1aca08","type":"junction","z":"a777d7d0a5bdd91a","x":180,"y":300,"wires":[["4c9c495e60bb155a"]]},{"id":"4c9c495e60bb155a","type":"junction","z":"a777d7d0a5bdd91a","x":320,"y":280,"wires":[["b26abdb713550bfc","abf06c4fb3137537"]]},{"id":"4e4ba2704bf2bf22","type":"junction","z":"a777d7d0a5bdd91a","x":720,"y":240,"wires":[["6e8b2ea2bc1f6efe"]]},{"id":"9327789f4ffa78bc","type":"junction","z":"a777d7d0a5bdd91a","x":480,"y":120,"wires":[["6d320b5750c3d479","bf3d79d5d605b0d5"]]},{"id":"8fdd504311e11483","type":"junction","z":"397a7d7f21216fb1","x":1080,"y":140,"wires":[[]]},{"id":"34dd21179fdd002d","type":"junction","z":"397a7d7f21216fb1","x":500,"y":140,"wires":[["edf7a4be4276c93c"]]},{"id":"edf7a4be4276c93c","type":"junction","z":"397a7d7f21216fb1","x":700,"y":140,"wires":[["a419855c9f611c40"]]},{"id":"a419855c9f611c40","type":"junction","z":"397a7d7f21216fb1","x":900,"y":140,"wires":[["8fdd504311e11483"]]},{"id":"6e8b2ea2bc1f6efe","type":"junction","z":"a777d7d0a5bdd91a","x":280,"y":400,"wires":[["4591393a437838f9"]]},{"id":"a8fc053540d5341a","type":"junction","z":"b67404283d4d30e1","x":240,"y":200,"wires":[["4c2a9174627414b8","2340827381a46894"]]},{"id":"9db6950f167e21f7","type":"junction","z":"17a4be46.73c692","x":1380,"y":340,"wires":[["e0dbf479f5859e55"]]},{"id":"e14a6180a2781679","type":"junction","z":"17a4be46.73c692","x":1380,"y":400,"wires":[["ebdf66a145a83ea7"]]},{"id":"71e18424cbbbd33b","type":"junction","z":"17a4be46.73c692","x":820,"y":160,"wires":[["aed2207db5c87338"]]},{"id":"ef3bfd45af3679e5","type":"junction","z":"17a4be46.73c692","x":700,"y":340,"wires":[["9bdda98ec44dff09"]]},{"id":"dbc6823b329e2bdb","type":"junction","z":"c822ec0e8412930a","x":240,"y":620,"wires":[[]]},{"id":"6843ccd.5bef434","type":"server","name":"Home Assistant","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"b8048402.8af8d8","type":"mqtt-broker","name":"mqtt","broker":"core-mosquitto","port":"1883","clientid":"Node_RED","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a40b8c30.06798","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7be68804.a8f3d8","type":"light-scheduler-settings","name":"Duiven, nl","latitude":"51.949900","longitude":"6.024370"},{"id":"99609e7b.c8ed4","type":"ui_group","name":"GAUGE INPUT SELECTOR","tab":"c38fb46f.de97f8","order":1,"disp":true,"width":8,"collapse":false},{"id":"c38fb46f.de97f8","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5f59fbb.9282d","type":"ui_spacer","name":"spacer","group":"99609e7b.c8ed4","order":5,"width":3,"height":1},{"id":"4c61dff4.71cf9","type":"ui_spacer","name":"spacer","group":"99609e7b.c8ed4","order":6,"width":3,"height":1},{"id":"6b7fe7a6.6c7678","type":"ui_spacer","name":"spacer","group":"99609e7b.c8ed4","order":7,"width":3,"height":1},{"id":"ffc4452.b4e2db8","type":"ui_spacer","name":"spacer","group":"99609e7b.c8ed4","order":8,"width":3,"height":1},{"id":"6d59a014.4709a","type":"ui_spacer","name":"spacer","group":"99609e7b.c8ed4","order":9,"width":3,"height":1},{"id":"10fbf088e3064552","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"sensor config for fan_out_speed","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"fan_out_speed"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":false},{"id":"0dd186f5eac34f15","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"sensor config for fan_10_speed","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"fan_in_speed"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":false},{"id":"76accad38a5f5906","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"sensor config for piek out","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"piek out"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":false},{"id":"a5e9de9c2a0084d5","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"schemerdetectie","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"schemerdetector"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"light"}],"resend":false,"debugEnabled":false},{"id":"a7ca88e1b0c6e717","type":"ha-device-config","name":"verwarming temperatuur","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"63b5fcf3dfe89fc2","type":"ha-device-config","name":"verwarming 17gr","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"29207297dd8d0b7d","type":"ha-device-config","name":"verwarming 15gr","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"95e52d0a2daf3924","type":"ha-device-config","name":"verwarming 19gr","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"d1ad0883ac7dcaa0","type":"ha-device-config","name":"verwarming 20gr","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"f4425e34c5544707","type":"ha-device-config","name":"verwarming 21gr","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"a08822b0df7de284","type":"ha-device-config","name":"verwarming temp","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"e4d4e22465f8654b","type":"ha-device-config","name":"temperatuur beneden","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"cb09f29304e30767","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"e4d4e22465f8654b","name":"temp beneden","version":"6","entityType":"number","haConfig":[{"property":"name","value":"temperatuur beneden 2"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":15},{"property":"max_value","value":22},{"property":"step_value","value":1},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"e0b6967a76194433","type":"ha-device-config","name":"schakelaar cv beneden ","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"df55561c743ac188","type":"ha-device-config","name":"nr iridium level","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"a1b26de60df4be24","type":"ha-device-config","name":"nr_iridium_level","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"486cf6a4f37fb774","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"a1b26de60df4be24","name":"nr_iridium_level","version":"6","entityType":"number","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":""},{"property":"max_value","value":""},{"property":"step_value","value":""},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":true},{"id":"3a0f03ac8ab34879","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"a1b26de60df4be24","name":"nr iridium level txt","version":"6","entityType":"text","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":6},{"property":"max_length","value":8},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"541bfa3ffd06ec54","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"test text","version":"6","entityType":"text","haConfig":[{"property":"name","value":"test text"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"889c46fa087863fc","type":"ha-entity-config","server":"6843ccd.5bef434","deviceConfig":"","name":"nr txt iridium","version":"6","entityType":"text","haConfig":[{"property":"name","value":"nr iridium level"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":1},{"property":"max_length","value":8},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"f56de91.b429118","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"4c2a9174627414b8","type":"counter","z":"b67404283d4d30e1","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":360,"y":120,"wires":[["f566ec373e67d0b4"]]},{"id":"f566ec373e67d0b4","type":"trigger","z":"b67404283d4d30e1","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":120,"wires":[["dd4881241f2745de"]]},{"id":"dd4881241f2745de","type":"change","z":"b67404283d4d30e1","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["a8fc053540d5341a"]]},{"id":"2340827381a46894","type":"switch","z":"b67404283d4d30e1","name":"number off presses","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":220,"wires":[[],[],[],[]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"8d29a72cd1edf467","type":"switch","z":"b67404283d4d30e1","name":"filter \"unavailable\"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":170,"y":120,"wires":[["4c2a9174627414b8"]],"outputLabels":["unavailable"],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"4643cbb2f58c5991","type":"combine-delta","z":"93f6b8805f5cbea5","topic":"delta_outside","topicA":"outside intake","topicB":"outside exhaust","name":"","x":130,"y":180,"wires":[["fc3a8f40f277b4cf","9d75a1a3b9276ba6"]]},{"id":"76d7bebf30d836ef","type":"combine-delta","z":"93f6b8805f5cbea5","topic":"delta_inside","topicA":"inside intake","topicB":"inside exhaust","name":"","x":270,"y":80,"wires":[["fc91f63d72595e85","1754f5af01831240"]]},{"id":"7a2e473b85918ab9","type":"function","z":"93f6b8805f5cbea5","name":"gain","func":"\nconst formatter = new Intl.NumberFormat('en-US', {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n});\nvar min_speed = 9;\nvar max_speed = 60;\nvar input = msg.payload;\nmsg.payload = \"\";\n\ninput =  min_speed+ input*(max_speed-min_speed);\n//input = input.toFixed(2);\n//input =  parseInt(formatter.format(input));\n\nif (input < min_speed) input = min_speed;\nif (input > max_speed) input = max_speed;\nmsg.payload = { \"data\": { \"percentage\": (input) } };\nreturn [msg, { \"payload\": \"speed..\" + input  }];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":80,"wires":[[],[]]},{"id":"fc91f63d72595e85","type":"delay","z":"93f6b8805f5cbea5","name":"1 msg/sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":410,"y":80,"wires":[["c7ed1d18c71d3efc"]]},{"id":"c7ed1d18c71d3efc","type":"PID","z":"93f6b8805f5cbea5","name":"pid redelijk","setpoint":"-2","pb":"20","ti":"80","td":"10","integral_default":"0.20","smooth_factor":3,"max_interval":"300","enable":1,"disabled_op":0,"x":590,"y":80,"wires":[["7a2e473b85918ab9"]]},{"id":"fc3a8f40f277b4cf","type":"function","z":"93f6b8805f5cbea5","name":"gain","func":"\nvar input = msg.payload;\ninput= input * 1.1;\nmsg = {\"payload\": input,\"topic\": \"setpoint\"} ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["c7ed1d18c71d3efc"]]},{"id":"cd8580c17ae0ea86","type":"switch","z":"93f6b8805f5cbea5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"inside","vt":"str"},{"t":"cont","v":"outside","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":80,"wires":[["76d7bebf30d836ef"],["4643cbb2f58c5991"]]},{"id":"1754f5af01831240","type":"combine-delta","z":"93f6b8805f5cbea5","topic":"delta_delta inside-outside","topicA":"delta_inside","topicB":"delta_outside","name":"","x":570,"y":160,"wires":[[]]},{"id":"9d75a1a3b9276ba6","type":"function","z":"93f6b8805f5cbea5","name":"multiply -1","func":"//msg.payload = msg.payload * -1\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["1754f5af01831240"]]},{"id":"562fc359ecb7b42e","type":"comment","z":"16611505b5edec06","name":"Buitenlampen op tijd en iridium level laten reageren","info":"","x":430,"y":20,"wires":[]},{"id":"4e84b42f37ae1394","type":"server-state-changed","z":"75c86075bd20a656","name":"lampen handmatig","server":"6843ccd.5bef434","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.handmatig_lampen","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":120,"wires":[["4d0bc071202bf549"]]},{"id":"68a53917c64a24cb","type":"join","z":"75c86075bd20a656","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":120,"wires":[["4994efb31a95e8cf"]]},{"id":"f25eee46dbad1df4","type":"change","z":"75c86075bd20a656","name":"set parts","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.params.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["68a53917c64a24cb"]]},{"id":"4994efb31a95e8cf","type":"function","z":"75c86075bd20a656","name":"Lampen controller","func":"//var dark_level = 100\nvar lights_on = flow.get(\"lights_on\") || false\n\nvar msg_lamp_aan = { payload: '', topic: 'lights on' }\nvar msg_lamp_uit = { payload: '', topic: 'lights off' }\n\nvar dark_inside = msg.payload[\"schemer buiten\"]\n//var use_solar_detector = msg.payload[\"use solar detector\"]\n//var error_solarpanels = msg.payload.error\n//var power_mean = msg.payload[\"sensor.thuis_total_output_power\"]\nvar lampen_timer = msg.payload.Timer\n\nfunction switch_lights() {\n    // is it dark inside?\n    if (lampen_timer == true && dark_inside == true) {\n        on_change(true)\n    }\n    else {\n        on_change(false)\n    }\n}\n\nfunction on_change(lights) {\n\n    var changed = lights != lights_on\n    lights_on = lights\n    if (changed) {\n        if (lights_on) {\n            msg_lamp_aan.payload = true\n            msg_lamp_uit = null\n        }\n        else {\n            msg_lamp_uit.payload = true\n            msg_lamp_aan = null\n        }\n    }\n    else {\n        msg_lamp_aan = null\n        msg_lamp_uit = null\n    }\n    return changed\n}\n\nswitch_lights()\nflow.set(\"lights_on\", lights_on)\nreturn [msg_lamp_aan, msg_lamp_uit]\n\n\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar dark_level = 100\nglobal.set(\"dark_inside\", false)\nglobal.set(\"power_solar\", dark_level)\nglobal.set(\"power_solar_mean\", dark_level)\nglobal.set(\"solardetector\", true)\nglobal.set(\"lights_timer\", false)\nconst numbers = [ dark_level, dark_level, dark_level, dark_level, dark_level];\nglobal.set(\"numbers\", numbers)","finalize":"","libs":[],"x":630,"y":120,"wires":[[],[]],"inputLabels":["msg.topic == \"Timer\" || msg.topic == \"input_boolean.handmatig_lampen\" || msg.payload == \"unavailable\" || msg.topic == \"error\" || msg.topic == \"sensor.thuis_total_output_power\""],"outputLabels":["lampen aan","lampen uit"]},{"id":"a604e1a98061677c","type":"switch","z":"77fc5a792c4090e4","name":"aan of uit","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":80,"wires":[[],[]]},{"id":"745337d4d75e31af","type":"rbe","z":"77fc5a792c4090e4","name":"on change","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":190,"y":80,"wires":[["a604e1a98061677c"]]},{"id":"afd013ca345c6326","type":"api-current-state","z":"397a7d7f21216fb1","name":"exhaust_temp","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.exhaust_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"inside exhaust","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":80,"wires":[["948e2b86a769d3a6","edf7a4be4276c93c"]]},{"id":"948e2b86a769d3a6","type":"api-current-state","z":"397a7d7f21216fb1","name":"outside_exhaust_temp","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.outside_exhaust_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"outside exhaust","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":80,"wires":[["6245af0333c71a2a","a419855c9f611c40"]]},{"id":"6245af0333c71a2a","type":"api-current-state","z":"397a7d7f21216fb1","name":"outside intake temp","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.outside_intake_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"outside intake","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":80,"wires":[["8fdd504311e11483"]]},{"id":"9abd74d62f1e91db","type":"inject","z":"397a7d7f21216fb1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["73dbf748c0ac506c"]]},{"id":"73dbf748c0ac506c","type":"api-current-state","z":"397a7d7f21216fb1","name":"intake_temp","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.intake_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"inside intake","valueType":"str"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":80,"wires":[["afd013ca345c6326","34dd21179fdd002d"]]},{"id":"0595413b29e03a47","type":"inject","z":"c822ec0e8412930a","name":"schemer false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"schemer buiten","payload":"false","payloadType":"bool","x":140,"y":640,"wires":[["dbc6823b329e2bdb"]]},{"id":"9b7790a756609b16","type":"inject","z":"c822ec0e8412930a","name":"schemer true","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"name","v":"sensor","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"schemer buiten","payload":"true","payloadType":"bool","x":140,"y":600,"wires":[["dbc6823b329e2bdb"]]},{"id":"c9a107f75c1f97dd","type":"inject","z":"c822ec0e8412930a","name":"timer true","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"name","v":"Timer","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"true","payloadType":"bool","x":130,"y":680,"wires":[["dbc6823b329e2bdb"]]},{"id":"e497e2f68c7362c6","type":"inject","z":"c822ec0e8412930a","name":"timer false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"false","payloadType":"bool","x":130,"y":720,"wires":[["dbc6823b329e2bdb"]]},{"id":"399b0ad93e2ac0a2","type":"motion-light","z":"c822ec0e8412930a","name":"hallway","attributes":[{"lux":1,"brightness":50,"timeout":300,"id":"day","time":"sunrise..sunset"},{"brightness":254,"timeout":300,"id":"evening","time":"sunset..23:00"},{"brightness":1,"timeout":300,"id":"night","time":"23:00..sunrise"}],"lat":"48.42687","lon":"35.01336","x":540,"y":380,"wires":[["7871f78fab510250","5a124c3045648649"]]},{"id":"e535f9dce083cd8f","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"binary_sensor.coolcam_one_occupancy","payload":"on","payloadType":"str","x":150,"y":380,"wires":[["5bf8d66f6a3a6ad6","ef7088319567bd2c"]]},{"id":"b06b2d103b867ed8","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"binary_sensor.coolcam_one_occupancy","payload":"off","payloadType":"str","x":150,"y":420,"wires":[["5bf8d66f6a3a6ad6","ef7088319567bd2c"]]},{"id":"5bf8d66f6a3a6ad6","type":"switch","z":"c822ec0e8412930a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":400,"wires":[["399b0ad93e2ac0a2"]]},{"id":"7871f78fab510250","type":"debug","z":"c822ec0e8412930a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"8a9025e820df5d94","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hall_lamps","payload":"on","payloadType":"str","x":170,"y":220,"wires":[["233c6fc73feaedab"]]},{"id":"48c59309aa201b79","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hall_lamps","payload":"off","payloadType":"str","x":170,"y":260,"wires":[["233c6fc73feaedab"]]},{"id":"03183bf62d754027","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tv_1234","payload":"on","payloadType":"str","x":160,"y":100,"wires":[["4cf8a35846c8c76e"]]},{"id":"1750a05ace6e07c1","type":"inject","z":"c822ec0e8412930a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tv_1234","payload":"off","payloadType":"str","x":160,"y":140,"wires":[["4cf8a35846c8c76e"]]},{"id":"629334a4ea20363b","type":"comment","z":"c822ec0e8412930a","name":"Motion sensor","info":"","x":110,"y":300,"wires":[]},{"id":"3dc708a2bfee9c43","type":"comment","z":"c822ec0e8412930a","name":"Hall lamps","info":"","x":100,"y":180,"wires":[]},{"id":"69e8014ec0bff166","type":"comment","z":"c822ec0e8412930a","name":"TV","info":"","x":130,"y":20,"wires":[]},{"id":"4cf8a35846c8c76e","type":"switch","z":"c822ec0e8412930a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":100,"wires":[["233c6fc73feaedab","cc3f966460bbddea"]]},{"id":"5d2a0baa06584a4b","type":"inject","z":"c822ec0e8412930a","name":"lux 10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LUX","payload":"10","payloadType":"num","x":430,"y":680,"wires":[["6116ece76a85a89a"]]},{"id":"ceee0b3dacf91cf3","type":"inject","z":"c822ec0e8412930a","name":"lux 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LUX","payload":"1","payloadType":"num","x":430,"y":740,"wires":[["6116ece76a85a89a"]]},{"id":"93ad36afd6cf7966","type":"inject","z":"c822ec0e8412930a","name":"lux 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LUX","payload":"0","payloadType":"num","x":430,"y":800,"wires":[["6116ece76a85a89a"]]},{"id":"233c6fc73feaedab","type":"motion-light-event","z":"c822ec0e8412930a","name":"","userValue":"exclude","x":520,"y":180,"wires":[["399b0ad93e2ac0a2"]]},{"id":"6116ece76a85a89a","type":"motion-light-event","z":"c822ec0e8412930a","name":"","userValue":"lux","x":530,"y":520,"wires":[["399b0ad93e2ac0a2","a9fd939d0d2b52be"]]},{"id":"3fab25e7a5a4399d","type":"link in","z":"c822ec0e8412930a","name":"multi sensor in","links":["6a93a801edc62968"],"x":95,"y":520,"wires":[["8c08cbb403363eb1"]]},{"id":"8c08cbb403363eb1","type":"change","z":"c822ec0e8412930a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"LUX","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"(msg.payload / 200)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["6116ece76a85a89a"]]},{"id":"a9fd939d0d2b52be","type":"debug","z":"c822ec0e8412930a","name":"lux","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"b2916241104a4932","type":"link in","z":"c822ec0e8412930a","name":"multi sensor in","links":["45bea6ade55d0501","68f575c1d11c6465"],"x":235,"y":20,"wires":[["4cf8a35846c8c76e"]]},{"id":"cc3f966460bbddea","type":"debug","z":"c822ec0e8412930a","name":"timer","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"4b38f51037ee73ce","type":"trigger-state","z":"c822ec0e8412930a","name":"Motion keuken","server":"6843ccd.5bef434","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.coolcam_one_occupancy","entityIdType":"exact","debugEnabled":true,"constraints":[],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":340,"wires":[["ce816c67e59b4cc4"],["fafc1250b87f1876"]]},{"id":"fafc1250b87f1876","type":"debug","z":"c822ec0e8412930a","name":"timer","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"54e5db2f4cd7d4cb","type":"debug","z":"c822ec0e8412930a","name":"motion","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"53ebe3904a0ef678","type":"api-call-service","z":"c822ec0e8412930a","name":"keukenkastjes aan","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ikea_of_sweden_tradfri_driver_30w_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1030,"y":440,"wires":[["10e33ae3e078eb91"]]},{"id":"94e1cafb68b5a893","type":"api-call-service","z":"c822ec0e8412930a","name":"keukenkastjes uit","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_of_sweden_tradfri_driver_30w_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1030,"y":500,"wires":[["2fea24cd5dacc57c"]]},{"id":"10e33ae3e078eb91","type":"debug","z":"c822ec0e8412930a","name":"Aan ?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":440,"wires":[]},{"id":"5a124c3045648649","type":"switch","z":"c822ec0e8412930a","name":"aan/uit","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":true,"outputs":2,"x":810,"y":440,"wires":[["53ebe3904a0ef678"],["94e1cafb68b5a893"]],"info":"\"Hello\""},{"id":"2fea24cd5dacc57c","type":"debug","z":"c822ec0e8412930a","name":"UIT ?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":500,"wires":[]},{"id":"ef7088319567bd2c","type":"debug","z":"c822ec0e8412930a","name":"motion","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":410,"y":460,"wires":[]},{"id":"ce816c67e59b4cc4","type":"change","z":"c822ec0e8412930a","name":"","rules":[{"t":"delete","p":"failedComparators","pt":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["399b0ad93e2ac0a2","54e5db2f4cd7d4cb"]]},{"id":"bf3d79d5d605b0d5","type":"combine-if","z":"a777d7d0a5bdd91a","topic":"error","name":"Use Buienradar","timeout":0,"x":600,"y":240,"wires":[["e033982290219725","4e4ba2704bf2bf22"],[]]},{"id":"0f6e5d50144f408f","type":"combine-if","z":"a777d7d0a5bdd91a","topic":"error","name":"Use solar detector","timeout":0,"x":610,"y":180,"wires":[["c44eaa816ae8ecf8","4e4ba2704bf2bf22"],[]]},{"id":"648de16d630956ac","type":"comment","z":"a777d7d0a5bdd91a","name":"beneden lampen op tijd en iridium level laten reageren","info":"","x":440,"y":20,"wires":[]},{"id":"2eeb8581c5df66f1","type":"catch","z":"a777d7d0a5bdd91a","name":"error zonnepaneel","scope":[],"uncaught":false,"x":90,"y":40,"wires":[["7f49eab8c415052c"]]},{"id":"4e40d72abd4df0e4","type":"inject","z":"a777d7d0a5bdd91a","name":"solar 200w","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"solar power","payload":"200","payloadType":"str","x":80,"y":160,"wires":[["afcb343260e6afe6"]]},{"id":"4015386987a3e01d","type":"inject","z":"a777d7d0a5bdd91a","name":"solar 1w","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"solar power","payload":"1","payloadType":"str","x":80,"y":200,"wires":[["afcb343260e6afe6"]]},{"id":"7f49eab8c415052c","type":"change","z":"a777d7d0a5bdd91a","name":"error true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["9327789f4ffa78bc"]]},{"id":"e9095d02fedfcdc3","type":"poll-state","z":"a777d7d0a5bdd91a","name":"Zonnepaneel","server":"6843ccd.5bef434","version":3,"exposeAsEntityConfig":"","updateInterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":true,"outputOnChanged":true,"entityId":"sensor.1vzi90303a_pv_input_actual","stateType":"str","ifState":"","ifStateType":"num","ifStateOperator":"lt","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"solar power","valueType":"str"}],"x":70,"y":100,"wires":[["6ad6aa93ca1430d8"]]},{"id":"57efec9f50ab766e","type":"change","z":"a777d7d0a5bdd91a","name":"error false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["9327789f4ffa78bc"]]},{"id":"6ad6aa93ca1430d8","type":"switch","z":"a777d7d0a5bdd91a","name":"filter errors","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"},{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":230,"y":100,"wires":[["7f49eab8c415052c"],["7f49eab8c415052c"],["afcb343260e6afe6"]]},{"id":"2ca95206d27baf7d","type":"link out","z":"a777d7d0a5bdd91a","name":"donkrt buiten","mode":"link","links":["cdc9e18ef5da5592"],"x":810,"y":440,"wires":[],"l":true},{"id":"928394452e40eb35","type":"buienradar","z":"a777d7d0a5bdd91a","name":"","station":"6275","interval":"300000","forecast":false,"x":210,"y":240,"wires":[["4c9c495e60bb155a"]]},{"id":"96b225bda689a2df","type":"inject","z":"a777d7d0a5bdd91a","name":"0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"buienradar\":{\"sunrise\":\"2023-11-04T07:38:00\",\"sunset\":\"2023-11-04T17:02:00\",\"temperatuurGC\":9.8,\"windsnelheidBF\":4,\"luchtvochtigheid\":81,\"datum\":\"2023-11-04T10:30:00\",\"zichtmeters\":49900,\"regenMMPU\":0,\"regenMM24U\":0.1,\"luchtdruk\":981.1,\"windrichtingGR\":168,\"zonintensiteitWM2\":0,\"windsnelheidMS\":6.1,\"windstotenMS\":9}}","payloadType":"json","x":70,"y":280,"wires":[["4c9cee263d1aca08"]]},{"id":"04a8c01db8f74821","type":"inject","z":"a777d7d0a5bdd91a","name":"200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"buienradar\":{\"sunrise\":\"2023-11-04T07:38:00\",\"sunset\":\"2023-11-04T17:02:00\",\"temperatuurGC\":9.8,\"windsnelheidBF\":4,\"luchtvochtigheid\":81,\"datum\":\"2023-11-04T10:30:00\",\"zichtmeters\":49900,\"regenMMPU\":0,\"regenMM24U\":0.1,\"luchtdruk\":981.1,\"windrichtingGR\":168,\"zonintensiteitWM2\":200,\"windsnelheidMS\":6.1,\"windstotenMS\":9}}","payloadType":"json","x":70,"y":320,"wires":[["4c9cee263d1aca08"]]},{"id":"4591393a437838f9","type":"smooth","z":"a777d7d0a5bdd91a","name":"","property":"payload","action":"low","count":"5","round":"0","mult":"single","reduce":false,"x":380,"y":400,"wires":[["902ba26b4ee20e61","1b88d8ba3e833c21","70ba93d6338f4d8b","6a93a801edc62968"]]},{"id":"902ba26b4ee20e61","type":"debug","z":"a777d7d0a5bdd91a","name":"smooth","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"1acc2e3195601194","type":"inject","z":"a777d7d0a5bdd91a","name":"0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":70,"y":240,"wires":[["928394452e40eb35"]]},{"id":"b26abdb713550bfc","type":"change","z":"a777d7d0a5bdd91a","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"(  payload.buienradar.zonintensiteitWM2 * 5)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buienradar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["bf3d79d5d605b0d5"]]},{"id":"e033982290219725","type":"debug","z":"a777d7d0a5bdd91a","name":"iridium level","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"c44eaa816ae8ecf8","type":"debug","z":"a777d7d0a5bdd91a","name":"solar power","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"1b88d8ba3e833c21","type":"function","z":"a777d7d0a5bdd91a","name":"donker/ schemer / licht","func":"var donkerlevel = 0;\nvar schemerlevel = 0;\nif(msg.topic === \"buienradar\"){schemerlevel = 500; donkerlevel = 150}\nif(msg.topic === \"solar power\"){schemerlevel = 28; donkerlevel = 3}\n\nvar msg_donker = { topic: 'donker buiten', payload: false };\nvar msg_schemer = { topic: 'schemer buiten', payload: false };\n\nif (msg.payload < donkerlevel) {\n    msg_donker.payload = true;\n} \nif (msg.payload < schemerlevel) {\n    msg_schemer.payload = true;\n}\n\nreturn [msg_donker, msg_schemer];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["2ca95206d27baf7d","7347fa03c0efb7b2"],["b751aba3cef7d28c","dd93f74528ab8516","0cdb7f345d4280fb"]]},{"id":"b751aba3cef7d28c","type":"debug","z":"a777d7d0a5bdd91a","name":"schemer ?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"7347fa03c0efb7b2","type":"debug","z":"a777d7d0a5bdd91a","name":"donker ?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"dd93f74528ab8516","type":"link out","z":"a777d7d0a5bdd91a","name":"schemer buiten","mode":"link","links":["cdc9e18ef5da5592","4a67f4b55b2ddd5f"],"x":820,"y":520,"wires":[],"l":true},{"id":"6d320b5750c3d479","type":"Invert","z":"a777d7d0a5bdd91a","name":"Invert","x":570,"y":120,"wires":[["0f6e5d50144f408f"]]},{"id":"abf06c4fb3137537","type":"debug","z":"a777d7d0a5bdd91a","name":"Buienradar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"1387b7ec4374537e","type":"ha-binary-sensor","z":"a777d7d0a5bdd91a","name":"Donker buiten?","entityConfig":"a5e9de9c2a0084d5","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":560,"wires":[[]]},{"id":"31745476241d589a","type":"link in","z":"a777d7d0a5bdd91a","name":"HA Ready","links":["5f38473fcb6ee383"],"x":200,"y":560,"wires":[["0cdb7f345d4280fb"]],"l":true},{"id":"0cdb7f345d4280fb","type":"join","z":"a777d7d0a5bdd91a","name":"HA ready?","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":400,"y":560,"wires":[["7aa2154b2ccb78f9"]]},{"id":"7aa2154b2ccb78f9","type":"change","z":"a777d7d0a5bdd91a","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"schemer buiten\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["1387b7ec4374537e"]]},{"id":"280d2615a0fcf059","type":"ha-number","z":"a777d7d0a5bdd91a","name":"temp beneden","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"cb09f29304e30767","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":290,"y":720,"wires":[[]]},{"id":"57398ed1589d3d66","type":"ha-text","z":"a777d7d0a5bdd91a","name":"nr iridium levl txt","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"889c46fa087863fc","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":820,"y":720,"wires":[[]]},{"id":"853ed0a95791b64a","type":"change","z":"a777d7d0a5bdd91a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":720,"wires":[["57398ed1589d3d66"]]},{"id":"70ba93d6338f4d8b","type":"api-call-service","z":"a777d7d0a5bdd91a","name":"nr iridium level","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"text","service":"set_value","areaId":[],"deviceId":[],"entityId":["text.nodered_889c46fa087863fc"],"data":"{\"value\": payload }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":620,"wires":[[]]},{"id":"6a93a801edc62968","type":"link out","z":"a777d7d0a5bdd91a","name":"smooth out","mode":"link","links":["3fab25e7a5a4399d"],"x":565,"y":400,"wires":[]},{"id":"810cd11c.73606","type":"api-call-service","z":"4828bd45.bc03e4","name":"buiten lampen aan","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.buitenlamp","light.lamp_afdakje"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":710,"y":200,"wires":[[]]},{"id":"ae2d93db.ee1cf","type":"api-call-service","z":"4828bd45.bc03e4","name":"buiten lampen uit","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.buitenlamp","light.lamp_afdakje"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":710,"y":260,"wires":[[]]},{"id":"51267ba7b3be500a","type":"light-scheduler","z":"4828bd45.bc03e4","settings":"7be68804.a8f3d8","events":"[{\"start\":{\"dow\":1,\"mod\":390},\"end\":{\"dow\":1,\"mod\":540}},{\"start\":{\"dow\":2,\"mod\":395},\"end\":{\"dow\":2,\"mod\":540}},{\"start\":{\"dow\":3,\"mod\":390},\"end\":{\"dow\":3,\"mod\":540}},{\"start\":{\"dow\":4,\"mod\":395},\"end\":{\"dow\":4,\"mod\":540}},{\"start\":{\"dow\":5,\"mod\":390},\"end\":{\"dow\":5,\"mod\":535}},{\"start\":{\"dow\":6,\"mod\":390},\"end\":{\"dow\":6,\"mod\":540}},{\"start\":{\"dow\":0,\"mod\":385},\"end\":{\"dow\":0,\"mod\":540}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":1370}},{\"start\":{\"dow\":2,\"mod\":965},\"end\":{\"dow\":2,\"mod\":1370}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":1370}},{\"start\":{\"dow\":4,\"mod\":955},\"end\":{\"dow\":4,\"mod\":1370}},{\"start\":{\"dow\":5,\"mod\":955},\"end\":{\"dow\":5,\"mod\":1395}},{\"start\":{\"dow\":6,\"mod\":950},\"end\":{\"dow\":6,\"mod\":1395}},{\"start\":{\"dow\":0,\"mod\":955},\"end\":{\"dow\":0,\"mod\":1365}}]","topic":"LampenAan","name":"Klok buiten","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":"-6","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":250,"y":60,"wires":[["cfe85b1242e03df7"]]},{"id":"b2e6fa44b867d241","type":"combine-logic","z":"4828bd45.bc03e4","name":"Tijd * Iluminatie","topic":"","operator":"and","defer":250,"timeout":0,"distinction":"topic","x":340,"y":220,"wires":[["44853e0b72c5db2d"]]},{"id":"44853e0b72c5db2d","type":"subflow:77fc5a792c4090e4","z":"4828bd45.bc03e4","name":"aan/uit wissel","x":520,"y":220,"wires":[["810cd11c.73606"],["ae2d93db.ee1cf"]]},{"id":"6742b99f0ce7ec4e","type":"link in","z":"4828bd45.bc03e4","name":"HA ready","links":["5f38473fcb6ee383"],"x":140,"y":140,"wires":[["cfe85b1242e03df7"]],"l":true},{"id":"cfe85b1242e03df7","type":"join","z":"4828bd45.bc03e4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":140,"wires":[["051f1bb5d96df50a"]]},{"id":"051f1bb5d96df50a","type":"change","z":"4828bd45.bc03e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LampenAan","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["b2e6fa44b867d241"]]},{"id":"cdc9e18ef5da5592","type":"link in","z":"4828bd45.bc03e4","name":"donker buiten","links":["2ca95206d27baf7d","dd93f74528ab8516"],"x":150,"y":220,"wires":[["b2e6fa44b867d241"]],"l":true},{"id":"1ad67666d0e54b67","type":"inject","z":"4828bd45.bc03e4","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":40,"wires":[["51267ba7b3be500a"]]},{"id":"24a82770476c7df7","type":"inject","z":"4828bd45.bc03e4","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":80,"wires":[["51267ba7b3be500a"]]},{"id":"f53f44c9aa7dbf2f","type":"server-state-changed","z":"17a4be46.73c692","name":"","server":"6843ccd.5bef434","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"light.buitenlamp","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":620,"wires":[["d2d3f3f2e1dfafa7"]]},{"id":"0459d2922dee80ff","type":"comment","z":"17a4be46.73c692","name":"alle lampen: 2 x klikken aan 3 x is uit","info":"","x":320,"y":560,"wires":[]},{"id":"d2d3f3f2e1dfafa7","type":"subflow:b67404283d4d30e1","z":"17a4be46.73c692","name":"clicker 1-2-3-4","x":480,"y":620,"wires":[[],["1d6eb1abc37b66fc"],["30ed8779ebaa3a6d"],[]],"inputLabels":["button input"],"outputLabels":["1","2","3","4"]},{"id":"857fcc3b65542511","type":"inject","z":"17a4be46.73c692","name":"1e persoon in de ochtend","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"on","payloadType":"str","x":1230,"y":300,"wires":[["72649f94ffbae667","9db6950f167e21f7"]]},{"id":"1105eb9515858cc8","type":"inject","z":"17a4be46.73c692","name":"ochtend voor bij","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"off","payloadType":"str","x":1200,"y":340,"wires":[["9db6950f167e21f7"]]},{"id":"00c12e6d6777425b","type":"trigger-state","z":"17a4be46.73c692","name":"Motion gang","server":"6843ccd.5bef434","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_gang_iaszone","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":140,"wires":[[],["9474fde996a9aeb7"]]},{"id":"9474fde996a9aeb7","type":"bool","z":"17a4be46.73c692","name":"to Bool","outputs":1,"inputField":"payload","outputField":"payload","outputFormat":"bool","handleNull":"null","invert":false,"strict":false,"x":280,"y":140,"wires":[["d46c34220ec9d334"]]},{"id":"a2df15bc.7929a8","type":"light-scheduler","z":"17a4be46.73c692","settings":"7be68804.a8f3d8","events":"[{\"start\":{\"dow\":1,\"mod\":405},\"end\":{\"dow\":1,\"mod\":515}},{\"start\":{\"dow\":2,\"mod\":405},\"end\":{\"dow\":2,\"mod\":515}},{\"start\":{\"dow\":3,\"mod\":405},\"end\":{\"dow\":3,\"mod\":515}},{\"start\":{\"dow\":4,\"mod\":405},\"end\":{\"dow\":4,\"mod\":540}},{\"start\":{\"dow\":5,\"mod\":405},\"end\":{\"dow\":5,\"mod\":540}},{\"start\":{\"dow\":6,\"mod\":405},\"end\":{\"dow\":6,\"mod\":600}},{\"start\":{\"dow\":0,\"mod\":405},\"end\":{\"dow\":0,\"mod\":600}}]","topic":"Timer","name":"Klok ochtend","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"9","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":170,"y":280,"wires":[["b58478ebc07bfdb3","68f575c1d11c6465"]]},{"id":"cef01c3130f3de1b","type":"light-scheduler","z":"17a4be46.73c692","settings":"7be68804.a8f3d8","events":"[{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":1380}},{\"start\":{\"dow\":3,\"mod\":900},\"end\":{\"dow\":3,\"mod\":1380}},{\"start\":{\"dow\":4,\"mod\":900},\"end\":{\"dow\":4,\"mod\":1380}},{\"start\":{\"dow\":0,\"mod\":885},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":900},\"end\":{\"dow\":1,\"mod\":1380}},{\"start\":{\"dow\":6,\"mod\":885},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":900},\"end\":{\"dow\":5,\"mod\":1410}}]","topic":"Timer","name":"Klok avond","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"9","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":170,"y":200,"wires":[["e8c4fce87b57932d","be8f7d3590543e06"]]},{"id":"b58478ebc07bfdb3","type":"switch","z":"17a4be46.73c692","name":"true/false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":280,"wires":[["1bb8e798a2d448dc","ef3bfd45af3679e5"],["be8f7d3590543e06","e8c4fce87b57932d"]]},{"id":"17e8ce265d125eb1","type":"inject","z":"17a4be46.73c692","name":"begin vd avond","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"on","payloadType":"str","x":1200,"y":380,"wires":[["e14a6180a2781679"]]},{"id":"93ba3508a09432b1","type":"inject","z":"17a4be46.73c692","name":"nacht","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Timer","payload":"off","payloadType":"str","x":1170,"y":420,"wires":[["e14a6180a2781679"]]},{"id":"1d6eb1abc37b66fc","type":"api-call-service","z":"17a4be46.73c692","name":"Alle lampen beneden aan","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.beneden","group.keuken"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":990,"y":540,"wires":[[]]},{"id":"30ed8779ebaa3a6d","type":"api-call-service","z":"17a4be46.73c692","name":"Alle lampen beneden uit","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.beneden","group.keuken","switch.sterren_lamp_relay_1_2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":990,"y":600,"wires":[[]]},{"id":"92e7e53266d018a3","type":"comment","z":"17a4be46.73c692","name":"aan op beweging & schema , uit op tijdschema","info":"","x":350,"y":20,"wires":[]},{"id":"4a67f4b55b2ddd5f","type":"link in","z":"17a4be46.73c692","name":"Schemer ?","links":["5f38473fcb6ee383","dd93f74528ab8516"],"x":680,"y":80,"wires":[["d362a87b1a9dd0d3","71e18424cbbbd33b"]],"l":true},{"id":"d46c34220ec9d334","type":"switch","z":"17a4be46.73c692","name":"if true","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":140,"wires":[["211fa87139bf8e3a"],[]]},{"id":"7ee9a880bc3ae258","type":"debug","z":"17a4be46.73c692","name":"Timers + schemer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"7385c870e968c082","type":"comment","z":"17a4be46.73c692","name":"manual override","info":"# er komt iemand beneden.\n## Lamp aan","x":260,"y":360,"wires":[]},{"id":"773c5f12e47ea213","type":"server-state-changed","z":"17a4be46.73c692","name":"group.beneden override","server":"6843ccd.5bef434","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"group.beneden","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"manual","valueType":"str"}],"x":140,"y":400,"wires":[["322281968768911e"]]},{"id":"87e8c8631ee7c738","type":"link out","z":"17a4be46.73c692","name":"link out 1","mode":"link","links":["3e7f6e04234d703c"],"x":1715,"y":280,"wires":[]},{"id":"3e7f6e04234d703c","type":"link in","z":"17a4be46.73c692","name":"Test","links":["87e8c8631ee7c738"],"x":65,"y":80,"wires":[["9474fde996a9aeb7"]]},{"id":"ebdf66a145a83ea7","type":"link out","z":"17a4be46.73c692","name":"link out 2","mode":"link","links":["8fafc0220f918abb"],"x":1715,"y":400,"wires":[]},{"id":"8fafc0220f918abb","type":"link in","z":"17a4be46.73c692","name":"link in 2","links":["ebdf66a145a83ea7"],"x":65,"y":200,"wires":[["cef01c3130f3de1b"]]},{"id":"e0dbf479f5859e55","type":"link out","z":"17a4be46.73c692","name":"link out 3","mode":"link","links":["de511e14f24a6685"],"x":1715,"y":340,"wires":[]},{"id":"de511e14f24a6685","type":"link in","z":"17a4be46.73c692","name":"link in 3","links":["e0dbf479f5859e55"],"x":65,"y":280,"wires":[["a2df15bc.7929a8"]]},{"id":"72649f94ffbae667","type":"delay","z":"17a4be46.73c692","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1440,"y":280,"wires":[["fc7e278a096fcaf4"]]},{"id":"fc7e278a096fcaf4","type":"change","z":"17a4be46.73c692","name":"Topic Timer","rules":[{"t":"set","p":"topic","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":280,"wires":[["87e8c8631ee7c738"]]},{"id":"322281968768911e","type":"bool","z":"17a4be46.73c692","name":"to Bool","outputs":1,"inputField":"data.new_state.state","outputField":"payload","outputFormat":"bool","handleNull":"null","invert":false,"strict":false,"x":340,"y":400,"wires":[["222a71e22fab70a3"]]},{"id":"8be8b42a1912e5ef","type":"debug","z":"17a4be46.73c692","name":"Manual","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"da8aa49aa59e1d1b","type":"debug","z":"17a4be46.73c692","name":"Aan ?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":500,"wires":[]},{"id":"d7f80ac66d0b3e7f","type":"switch","z":"17a4be46.73c692","name":"aan/uit","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":true,"outputs":2,"x":750,"y":540,"wires":[["da8aa49aa59e1d1b","1d6eb1abc37b66fc"],["30ed8779ebaa3a6d","e2c61f5be33638d1"]],"info":"\"Hello\""},{"id":"8c749e99bcdeb732","type":"inject","z":"17a4be46.73c692","name":"auto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"0","topic":"Timer","payload":"auto","payloadType":"str","x":1170,"y":480,"wires":[["e0dbf479f5859e55","ebdf66a145a83ea7"]]},{"id":"222a71e22fab70a3","type":"change","z":"17a4be46.73c692","name":"timer uit","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["8be8b42a1912e5ef","ef3bfd45af3679e5","45bea6ade55d0501"]]},{"id":"e8c4fce87b57932d","type":"change","z":"17a4be46.73c692","name":"timer true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["1bb8e798a2d448dc","ef3bfd45af3679e5"]]},{"id":"be8f7d3590543e06","type":"delay","z":"17a4be46.73c692","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":200,"wires":[["8b48bd154fe05d87"]]},{"id":"8b48bd154fe05d87","type":"change","z":"17a4be46.73c692","name":"LampenAan","rules":[{"t":"set","p":"topic","pt":"msg","to":"LampenAan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["0f1fa0567dfebec8","71e18424cbbbd33b"]]},{"id":"0f1fa0567dfebec8","type":"debug","z":"17a4be46.73c692","name":"Lampen aan","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"9bdda98ec44dff09","type":"combine-if","z":"17a4be46.73c692","topic":"Timer","name":"","timeout":0,"x":940,"y":360,"wires":[["7ee9a880bc3ae258","d7f80ac66d0b3e7f"],[]]},{"id":"e2c61f5be33638d1","type":"debug","z":"17a4be46.73c692","name":"UIT ?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":640,"wires":[]},{"id":"d362a87b1a9dd0d3","type":"debug","z":"17a4be46.73c692","name":"schemer ?","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":80,"wires":[]},{"id":"964251aaadd4129f","type":"debug","z":"17a4be46.73c692","name":"Lampen aan","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"aed2207db5c87338","type":"BooleanLogic","z":"17a4be46.73c692","name":"schemer & aan","operation":"AND","inputCount":2,"topic":"LampenAan","x":730,"y":200,"wires":[["964251aaadd4129f","9bdda98ec44dff09"]]},{"id":"1bb8e798a2d448dc","type":"delay","z":"17a4be46.73c692","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":260,"wires":[["ef3bfd45af3679e5"]]},{"id":"211fa87139bf8e3a","type":"combine-if","z":"17a4be46.73c692","topic":"Timer","name":"","timeout":0,"x":540,"y":140,"wires":[["8b48bd154fe05d87"],[]]},{"id":"68f575c1d11c6465","type":"link out","z":"17a4be46.73c692","name":"timer aan/uit","mode":"link","links":["a718c117882b5d53","b2916241104a4932"],"x":385,"y":320,"wires":[]},{"id":"a718c117882b5d53","type":"link in","z":"17a4be46.73c692","name":"timer in","links":["45bea6ade55d0501","68f575c1d11c6465"],"x":385,"y":80,"wires":[["211fa87139bf8e3a"]]},{"id":"45bea6ade55d0501","type":"link out","z":"17a4be46.73c692","name":"timer uit","mode":"link","links":["a718c117882b5d53","b2916241104a4932"],"x":645,"y":440,"wires":[]},{"id":"1eb6b90c78cd0316","type":"custom-node","z":"17a4be46.73c692","order":0,"width":0,"height":-1,"fontSize":16,"inputMenuField":"menu","inputMenuType":"msg","menuItems":[],"colors":"native","textColor":"#000000","backgroundColor":"#ffffff","borderColor":"#626262","name":"","x":110,"y":680,"wires":[[]]},{"id":"f334962588a1e285","type":"rbe","z":"17a4be46.73c692","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":510,"y":500,"wires":[[]]},{"id":"f44c410e38cbeeea","type":"switch","z":"3bd69bb8a705f8b6","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connecting","vt":"str"},{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"states_loaded","vt":"str"},{"t":"eq","v":"services_loaded","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":350,"y":100,"wires":[[],[],[],["8646bbedbd2adfb5"],[],[]]},{"id":"d1e9d73ad671b600","type":"server-events","z":"3bd69bb8a705f8b6","name":"","server":"6843ccd.5bef434","version":3,"exposeAsEntityConfig":"","eventType":"home_assistant_client","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":140,"y":100,"wires":[["f44c410e38cbeeea"]]},{"id":"5f38473fcb6ee383","type":"link out","z":"3bd69bb8a705f8b6","name":"HA Ready","mode":"link","links":["062976db5a737458","16754f0e173efca7","1b2fc147088746fb","2ab41a6a39456aba","3e8003d44c9a1412","9253783814e839f3","a723366d6c7306ff","dfb0b21903ffee14","e3d3f4ee9c08816a","eeea041ba45d426e","5738416c557ce9a6","68c1f5a84e5d5beb","6742b99f0ce7ec4e","afecd45e38544188","4a67f4b55b2ddd5f","31745476241d589a"],"x":660,"y":100,"wires":[],"l":true},{"id":"8646bbedbd2adfb5","type":"change","z":"3bd69bb8a705f8b6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"HA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[["5f38473fcb6ee383"]]},{"id":"4dc720aac06ce459","type":"api-call-service","z":"6d08d5ab.a8aa3c","name":"Fan exhaust speed","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"fan","service":"set_percentage","areaId":[],"deviceId":[],"entityId":["fan.wtw_fan_exhaust"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload","valueType":"msg"}],"queue":"none","x":910,"y":140,"wires":[[]]},{"id":"d3ee6a4d4787da9c","type":"api-call-service","z":"6d08d5ab.a8aa3c","name":"Fan intake speed","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"fan","service":"set_percentage","areaId":[],"deviceId":[],"entityId":["fan.wtw_fan_intake"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload","valueType":"msg"}],"queue":"none","x":690,"y":520,"wires":[["a45eb2ac04db37ca"]]},{"id":"d3e9515272cb0f78","type":"inject","z":"6d08d5ab.a8aa3c","name":"15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"percentage\":15}}","payloadType":"json","x":90,"y":460,"wires":[["ce25cf354fc793cd"]]},{"id":"4131c9332f9bfc27","type":"inject","z":"6d08d5ab.a8aa3c","name":"22","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"percentage\":22}}","payloadType":"json","x":90,"y":500,"wires":[["ce25cf354fc793cd"]]},{"id":"d99c00d3557668e6","type":"inject","z":"6d08d5ab.a8aa3c","name":"30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"percentage\":30}}","payloadType":"json","x":90,"y":540,"wires":[["ce25cf354fc793cd"]]},{"id":"d9622cacfd88f8fb","type":"smooth","z":"6d08d5ab.a8aa3c","name":"piek temp out","property":"payload","action":"high","count":"5","round":"2","mult":"single","reduce":false,"x":280,"y":680,"wires":[["9d3585a36f401065"]]},{"id":"1f23e600933502a3","type":"change","z":"6d08d5ab.a8aa3c","name":"29%","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"percentage\":29}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":640,"wires":[["ce25cf354fc793cd"]]},{"id":"a7db7f5d062d62fb","type":"inject","z":"6d08d5ab.a8aa3c","name":"15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":90,"y":680,"wires":[["d9622cacfd88f8fb"]]},{"id":"f6519e2a3297d5ad","type":"inject","z":"6d08d5ab.a8aa3c","name":"22","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"22","payloadType":"num","x":90,"y":720,"wires":[["d9622cacfd88f8fb"]]},{"id":"9d3585a36f401065","type":"hysteresis","z":"6d08d5ab.a8aa3c","name":"","rising_threshold":"0.17","falling_threshold":"-0.5","initial_edge":"any","x":440,"y":680,"wires":[["8d8ed4086a8f0991"]]},{"id":"8d8ed4086a8f0991","type":"switch","z":"6d08d5ab.a8aa3c","name":">0<","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":680,"wires":[["1f23e600933502a3","4d0fa54c9c3196dc"],[]]},{"id":"71f61525bdccff34","type":"comment","z":"6d08d5ab.a8aa3c","name":"Douche/kook ventilatie timer","info":"","x":440,"y":620,"wires":[]},{"id":"3582982d55218a54","type":"ha-sensor","z":"6d08d5ab.a8aa3c","name":"fan_out gauge","entityConfig":"10fbf088e3064552","version":0,"state":"payload.data.percentage","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":680,"y":80,"wires":[[]]},{"id":"a45eb2ac04db37ca","type":"ha-sensor","z":"6d08d5ab.a8aa3c","name":"fan_10_speed","entityConfig":"0dd186f5eac34f15","version":0,"state":"payload.data.percentage","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":900,"y":520,"wires":[[]]},{"id":"4d0fa54c9c3196dc","type":"ha-sensor","z":"6d08d5ab.a8aa3c","name":"piek out","entityConfig":"76accad38a5f5906","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":880,"y":680,"wires":[[]]},{"id":"a5d120beb9ef12ac","type":"server-state-changed","z":"6d08d5ab.a8aa3c","name":"wtw-dropdown","server":"6843ccd.5bef434","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_select.dropdown_wtw_mode","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":280,"wires":[["afa4adfe8e52df29"]]},{"id":"afa4adfe8e52df29","type":"switch","z":"6d08d5ab.a8aa3c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"laag","vt":"str"},{"t":"eq","v":"midden","vt":"str"},{"t":"eq","v":"hoog","vt":"str"},{"t":"eq","v":"was drogen","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":320,"wires":[["abe0e097e87f415b"],["d7f160e64b3183b7"],["fae22a93d565540a"],["bcb9ce38c32d0f70"]]},{"id":"abe0e097e87f415b","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"input fan minimal","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.input_fan_minimal","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":240,"wires":[["f90550195635f72c"]]},{"id":"d7f160e64b3183b7","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"input fan mid","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.input_fan_mid","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":300,"wires":[["f90550195635f72c"]]},{"id":"fae22a93d565540a","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"input fan max","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.input_fan_max","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":360,"wires":[["f90550195635f72c"]]},{"id":"bcb9ce38c32d0f70","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"input fan was drogen","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.input_fan_drogen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":420,"wires":[["f90550195635f72c"]]},{"id":"34c54de6b62aeff4","type":"change","z":"6d08d5ab.a8aa3c","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\" :{\"percentage\" :$number(msg.payload)}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":420,"wires":[["ce25cf354fc793cd"]]},{"id":"988732fbb914fa0a","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"dropdown_wtw_mode","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.dropdown_wtw_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":340,"wires":[["afa4adfe8e52df29"]]},{"id":"bae66cc81d743938","type":"api-current-state","z":"6d08d5ab.a8aa3c","name":"exhaust_temp","server":"6843ccd.5bef434","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.exhaust_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":100,"y":640,"wires":[["d9622cacfd88f8fb"]]},{"id":"b5e1cd63b8132dbf","type":"subflow:93f6b8805f5cbea5","z":"6d08d5ab.a8aa3c","name":"","x":270,"y":120,"wires":[["0a610ed873c34a75"],["f0c07ea9536b42c4"],["9e0462ea9e09f975"]]},{"id":"442566399b111e10","type":"change","z":"6d08d5ab.a8aa3c","name":"","rules":[{"t":"set","p":"switch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[[]]},{"id":"0a610ed873c34a75","type":"switch","z":"6d08d5ab.a8aa3c","name":"","property":"switch","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":100,"wires":[["3582982d55218a54","430fc1a00240c582"],[]]},{"id":"430fc1a00240c582","type":"api-call-service","z":"6d08d5ab.a8aa3c","name":"Fan exhaust on","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"fan","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.wtw_fan_exhaust"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload","valueType":"msg"}],"queue":"none","x":680,"y":140,"wires":[["4dc720aac06ce459"]]},{"id":"ce25cf354fc793cd","type":"api-call-service","z":"6d08d5ab.a8aa3c","name":"Fan intake on","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"fan","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.wtw_fan_intake"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"payload","valueType":"msg"}],"queue":"none","x":460,"y":520,"wires":[["d3ee6a4d4787da9c"]]},{"id":"f0c07ea9536b42c4","type":"debug","z":"6d08d5ab.a8aa3c","name":"delta inside","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"9e0462ea9e09f975","type":"debug","z":"6d08d5ab.a8aa3c","name":"delta outside","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"78bfaeccb86ee272","type":"subflow:397a7d7f21216fb1","z":"6d08d5ab.a8aa3c","name":"wtw sensoren","x":90,"y":120,"wires":[["b5e1cd63b8132dbf"]]},{"id":"336fd8148908d8a8","type":"poll-state","z":"6d08d5ab.a8aa3c","name":"wtw automaat","server":"6843ccd.5bef434","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":true,"entityId":"input_boolean.hh_wtw_automaat","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":60,"wires":[["442566399b111e10"]]},{"id":"83942c84.2cb2f","type":"light-scheduler","z":"7bc08803.7357c8","settings":"7be68804.a8f3d8","events":"[{\"start\":{\"dow\":1,\"mod\":330},\"end\":{\"dow\":1,\"mod\":450}},{\"start\":{\"dow\":2,\"mod\":330},\"end\":{\"dow\":2,\"mod\":450}},{\"start\":{\"dow\":3,\"mod\":330},\"end\":{\"dow\":3,\"mod\":450}},{\"start\":{\"dow\":4,\"mod\":330},\"end\":{\"dow\":4,\"mod\":450}},{\"start\":{\"dow\":5,\"mod\":330},\"end\":{\"dow\":5,\"mod\":450}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":1290}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":1290}}]","topic":"6.024370","name":"CV ochtend 17gr","onPayload":"17","onPayloadType":"num","offPayload":"15","offPayloadType":"num","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"-1","sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":270,"y":80,"wires":[["02ae8cb7c82f7539","1e699aa733b42d6b"]]},{"id":"8e9da60f.5e9b88","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload","v":"on","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":60,"wires":[["83942c84.2cb2f"]]},{"id":"bb854d6d.5dfd3","type":"inject","z":"7bc08803.7357c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":100,"wires":[["83942c84.2cb2f"]]},{"id":"2ccd1c31.30c2d4","type":"api-call-service","z":"7bc08803.7357c8","name":"temperatuur wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.tze200_hue3yfsn_ts0601_zonnsmartthermostat"],"data":"","dataType":"json","mergeContext":"payload.temperature","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":360,"wires":[["de9255eb1ba4cf5d"]]},{"id":"1a6ac0c215064652","type":"light-scheduler","z":"7bc08803.7357c8","settings":"7be68804.a8f3d8","events":"[{\"start\":{\"dow\":1,\"mod\":945},\"end\":{\"dow\":1,\"mod\":1290}},{\"start\":{\"dow\":2,\"mod\":945},\"end\":{\"dow\":2,\"mod\":1290}},{\"start\":{\"dow\":3,\"mod\":945},\"end\":{\"dow\":3,\"mod\":1290}},{\"start\":{\"dow\":4,\"mod\":945},\"end\":{\"dow\":4,\"mod\":1290}},{\"start\":{\"dow\":5,\"mod\":945},\"end\":{\"dow\":5,\"mod\":1290}}]","topic":"6.024370","name":"CV middag 19gr","onPayload":"19","onPayloadType":"num","offPayload":"15","offPayloadType":"num","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"-1","sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":260,"y":160,"wires":[["1e699aa733b42d6b"]]},{"id":"a4273b09ed16811c","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload","v":"on","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":140,"wires":[["1a6ac0c215064652"]]},{"id":"a458a78f4fda198a","type":"inject","z":"7bc08803.7357c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":180,"wires":[["1a6ac0c215064652"]]},{"id":"bae48dc8bc3528ee","type":"switch","z":"7bc08803.7357c8","name":" > 17`C","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"17","vt":"num"},{"t":"lt","v":"17","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":260,"wires":[["1832336167cca3ec","87123037f729f6d8"],["dc95f941e5ac8398"]]},{"id":"87123037f729f6d8","type":"api-call-service","z":"7bc08803.7357c8","name":"on","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":[],"deviceId":[],"entityId":["climate.tze200_hue3yfsn_ts0601_zonnsmartthermostat"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"queue":"none","x":550,"y":180,"wires":[[]]},{"id":"dc95f941e5ac8398","type":"api-call-service","z":"7bc08803.7357c8","name":"radiator keuken dicht","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"cover","service":"close_cover","areaId":["bdf00a51fc904817a7d9a11eb9805c6b"],"deviceId":["41fd3a666567c56c59f8a7211e14b828"],"entityId":["cover.cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":300,"wires":[[]]},{"id":"1832336167cca3ec","type":"api-call-service","z":"7bc08803.7357c8","name":"radiator keuken open","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"cover","service":"open_cover","areaId":["bdf00a51fc904817a7d9a11eb9805c6b"],"deviceId":["41fd3a666567c56c59f8a7211e14b828"],"entityId":["cover.cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":240,"wires":[[]]},{"id":"320739945bea93ec","type":"ha-number","z":"7bc08803.7357c8","name":"temp beneden","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"cb09f29304e30767","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":90,"y":260,"wires":[["adb92388a93e96ec"]]},{"id":"1e699aa733b42d6b","type":"ha-number","z":"7bc08803.7357c8","name":"temp beneden","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"cb09f29304e30767","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":490,"y":120,"wires":[[]]},{"id":"02ae8cb7c82f7539","type":"debug","z":"7bc08803.7357c8","name":"verwarming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"aad61d779c941a75","type":"change","z":"7bc08803.7357c8","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"temperature\" : payload}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["2ccd1c31.30c2d4","b6010d2765de354e"]]},{"id":"5b5acbd860175ad0","type":"switch","z":"7bc08803.7357c8","name":"0..30","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":360,"wires":[["aad61d779c941a75"]]},{"id":"adb92388a93e96ec","type":"ha-wait-until","z":"7bc08803.7357c8","name":"CV aan ?","server":"6843ccd.5bef434","version":2,"outputs":1,"entityId":"input_boolean.hh_cv_automaat_toggle","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":260,"y":320,"wires":[["bae48dc8bc3528ee","5b5acbd860175ad0"]]},{"id":"c37b0cd07ce244a2","type":"poll-state","z":"7bc08803.7357c8","name":"cv automaat","server":"6843ccd.5bef434","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"input_boolean.hh_cv_automaat_toggle","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"state","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":320,"wires":[["adb92388a93e96ec"]]},{"id":"de9255eb1ba4cf5d","type":"debug","z":"7bc08803.7357c8","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":360,"wires":[]},{"id":"fe8bbc20f71f731c","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"turn_on","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"","dataType":"json","mergeContext":"payload.temperature","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":420,"wires":[[]]},{"id":"7bc946f5a31cdd93","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload","v":"on","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":270,"y":440,"wires":[["fe8bbc20f71f731c"]]},{"id":"813a9a8387b524be","type":"inject","z":"7bc08803.7357c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":270,"y":480,"wires":[["7b5d3302720e4896"]]},{"id":"7b5d3302720e4896","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"","dataType":"json","mergeContext":"payload.temperature","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":480,"wires":[[]]},{"id":"fe138ba02f5dfb03","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"heat","payloadType":"str","x":270,"y":540,"wires":[["389d59aa13d8e49d"]]},{"id":"389d59aa13d8e49d","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\"hvac_mode\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":540,"wires":[["b9311aa5d8c24d21"]]},{"id":"b9311aa5d8c24d21","type":"debug","z":"7bc08803.7357c8","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":540,"wires":[]},{"id":"97a3228fd763db84","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cool","payloadType":"str","x":270,"y":600,"wires":[["a5b9d326b97d787a"]]},{"id":"a5b9d326b97d787a","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\"hvac_mode\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":600,"wires":[["43fedb2fb2a7237d"]]},{"id":"43fedb2fb2a7237d","type":"debug","z":"7bc08803.7357c8","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":600,"wires":[]},{"id":"31c50147281dca3f","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dry","payloadType":"str","x":270,"y":660,"wires":[["3debd733a9240d89"]]},{"id":"3debd733a9240d89","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\"hvac_mode\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":660,"wires":[["a7a0d19a19fda14f"]]},{"id":"a7a0d19a19fda14f","type":"debug","z":"7bc08803.7357c8","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"cc910ac6e33cbc93","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"19","payloadType":"str","x":270,"y":760,"wires":[["04e1992a413d6a0a"]]},{"id":"04e1992a413d6a0a","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"temperature\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":760,"wires":[["b580d758b8ec5ac8"]]},{"id":"b580d758b8ec5ac8","type":"debug","z":"7bc08803.7357c8","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":760,"wires":[]},{"id":"2035616ff91b2c27","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":270,"y":800,"wires":[["d64aeb8e0a78e804"]]},{"id":"d64aeb8e0a78e804","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"temperature\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":800,"wires":[["8ab28cebaa3d8ad8"]]},{"id":"8ab28cebaa3d8ad8","type":"debug","z":"7bc08803.7357c8","name":"debug 14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":800,"wires":[]},{"id":"d6a27b73489a52b3","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"str","x":270,"y":720,"wires":[["b6010d2765de354e"]]},{"id":"b6010d2765de354e","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"temperature\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":720,"wires":[["c0f3519e23763945"]]},{"id":"c0f3519e23763945","type":"debug","z":"7bc08803.7357c8","name":"debug 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":720,"wires":[]},{"id":"72a99c338f0c2235","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"low","payloadType":"str","x":250,"y":860,"wires":[["2cc67ce6d436bfdb"]]},{"id":"2cc67ce6d436bfdb","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"fan_mode\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":860,"wires":[["bcf84b17760c9e9f"]]},{"id":"bcf84b17760c9e9f","type":"debug","z":"7bc08803.7357c8","name":"debug 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":860,"wires":[]},{"id":"f657c6479129b67b","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"medium","payloadType":"str","x":250,"y":900,"wires":[["059c76edcafa4f14"]]},{"id":"059c76edcafa4f14","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"fan_mode\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":900,"wires":[["d0f5d2a7d2c8d83f"]]},{"id":"d0f5d2a7d2c8d83f","type":"debug","z":"7bc08803.7357c8","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":900,"wires":[]},{"id":"383e8abe5fd328a1","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"high","payloadType":"str","x":250,"y":940,"wires":[["4c11fa04da0b3d98"]]},{"id":"4c11fa04da0b3d98","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"fan_mode\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":940,"wires":[["19c4b9ab16f058be"]]},{"id":"19c4b9ab16f058be","type":"debug","z":"7bc08803.7357c8","name":"debug 18","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":940,"wires":[]},{"id":"ee8d841c9bb01b22","type":"inject","z":"7bc08803.7357c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":250,"y":980,"wires":[["ccbfa1abf2137955"]]},{"id":"ccbfa1abf2137955","type":"api-call-service","z":"7bc08803.7357c8","name":"airco wk","server":"6843ccd.5bef434","version":5,"debugenabled":true,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.airconditioner_wk_airconditioner"],"data":"{\t   \"fan_mode\": msg.payload \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload.data","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":980,"wires":[["258c36cacad13d0c"]]},{"id":"258c36cacad13d0c","type":"debug","z":"7bc08803.7357c8","name":"debug 19","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":980,"wires":[]},{"id":"b439e0c86506f4af","type":"server-state-changed","z":"7dd8150f1db5e027","name":"","server":"6843ccd.5bef434","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"siren.wk_brandalarm","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["65b962d9969fabdd"]]},{"id":"63dcfd0b2e84998c","type":"debug","z":"7dd8150f1db5e027","name":"brandalarm","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"43616277933ba881","type":"api-call-service","z":"7dd8150f1db5e027","name":"Alle lampen beneden toggle","server":"6843ccd.5bef434","version":5,"debugenabled":false,"domain":"homeassistant","service":"toggle","areaId":[],"deviceId":[],"entityId":["group.beneden","group.keuken"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":140,"wires":[[]]},{"id":"e101d56255686989","type":"looptimer","z":"7dd8150f1db5e027","duration":"2","units":"Second","maxloops":"100","maxtimeout":"10","maxtimeoutunits":"Second","name":"","x":740,"y":100,"wires":[["63dcfd0b2e84998c","b020b7edd3901082","43616277933ba881"],[]]},{"id":"65b962d9969fabdd","type":"switch","z":"7dd8150f1db5e027","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":100,"wires":[["e101d56255686989"],["230cea0977507fcf"]]},{"id":"230cea0977507fcf","type":"change","z":"7dd8150f1db5e027","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["e101d56255686989"]]},{"id":"a3363dd1b2070c61","type":"inject","z":"7dd8150f1db5e027","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":160,"wires":[["65b962d9969fabdd"]]},{"id":"7a51253b1ff98c36","type":"inject","z":"7dd8150f1db5e027","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":200,"wires":[["65b962d9969fabdd"]]},{"id":"b020b7edd3901082","type":"ui_toast","z":"7dd8150f1db5e027","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"brand alarm !!!","name":"paul","x":950,"y":220,"wires":[["be735318dbf0400a"]]},{"id":"be735318dbf0400a","type":"debug","z":"7dd8150f1db5e027","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":220,"wires":[]}]